In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

##### Dataset: https://www.kaggle.com/datasets/doaaalsenani/usa-cers-dataset/

###### US Cars'data was scraped from AUCTION EXPORT.com. This dataset included Information about 28 brands of clean and used vehicles for sale in US. Eleven features were assembled for each car in the dataset.
-   __Price__	-Integer-	The sale price of the vehicle in the ad
-   __Years__	-Integer-	The vehicle registration year
-   __Brand__	-String-	The brand of car
-   __Model__	-String-	model of the vehicle
-   __Color__	-String-	Color of the vehicle
-   __State/City__	-String-_	The location in which the car is being available for purchase
-   __Mileage__	-Float-	miles traveled by vehicle
-   __Vin__	-String-	The vehicle identification number is a collection of 17 characters (digits and capital letters)
-   __Title Status__	-String-	This feature included binary classification, which are clean title vehicles and salvage insurance
-   __Lot__ -Integer-	A lot number is an identification number assigned to a particular quantity or lot of material from a single manufacturer.For cars, a lot number is combined with a serial number to form the Vehicle Identification Number.
-   __Condition__	-String-	Time

In [3]:
data = pd.read_csv("USA_cars_datasets.csv")
data.head(20)

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left
5,5,5700,dodge,mpv,2018,clean vehicle,45561.0,white,2c4rdgeg9jr237989,167655771,texas,usa,2 days left
6,6,7300,chevrolet,pk,2010,clean vehicle,149050.0,black,1gcsksea1az121133,167753872,georgia,usa,22 hours left
7,7,13350,gmc,door,2017,clean vehicle,23525.0,gray,1gks2gkc3hr326762,167692494,california,usa,20 hours left
8,8,14600,chevrolet,malibu,2018,clean vehicle,9371.0,silver,1g1zd5st5jf191860,167763267,florida,usa,22 hours left
9,9,5250,ford,mpv,2017,clean vehicle,63418.0,black,2fmpk3j92hbc12542,167656121,texas,usa,2 days left
10,10,10400,dodge,coupe,2009,clean vehicle,107856.0,orange,2b3lj54t49h509675,167753874,georgia,usa,22 hours left
11,11,12920,gmc,mpv,2017,clean vehicle,39650.0,white,1gks2bkc6hr136280,167692496,california,usa,20 hours left
12,12,31900,chevrolet,1500,2018,clean vehicle,22909.0,black,3gcukrec0jg176059,167763273,tennessee,usa,22 hours left
13,13,5430,chrysler,wagon,2017,clean vehicle,138650.0,gray,2c4rc1cg5hr616095,167656123,texas,usa,2 days left
14,14,20700,ford,door,2013,clean vehicle,100757.0,black,1ftfw1et7dfa47790,167753916,virginia,usa,22 hours left
15,15,12710,gmc,door,2017,clean vehicle,25747.0,white,1gks2gkc6hr328389,167692497,california,usa,20 hours left
16,16,5200,kia,forte,2018,clean vehicle,46194.0,blue,3kpfk4a77je198723,167801757,north carolina,usa,2 days left
17,17,16500,buick,encore,2018,clean vehicle,20002.0,red,kl4cj1sb6jb688844,167763275,tennessee,usa,22 hours left
18,18,5210,ford,mpv,2017,clean vehicle,35714.0,white,2fmpk3j95hbb73607,167656124,texas,usa,2 days left
19,19,38100,ford,door,2013,clean vehicle,54380.0,gray,1ft8w3dt5deb68569,167753923,virginia,usa,22 hours left

In [4]:
data.describe()

        Unnamed: 0         price         year       mileage           lot
count  2499.000000   2499.000000  2499.000000  2.499000e+03  2.499000e+03
mean   1249.000000  18767.671469  2016.714286  5.229869e+04  1.676914e+08
std     721.543484  12116.094936     3.442656  5.970552e+04  2.038772e+05
min       0.000000      0.000000  1973.000000  0.000000e+00  1.593488e+08
25%     624.500000  10200.000000  2016.000000  2.146650e+04  1.676253e+08
50%    1249.000000  16900.000000  2018.000000  3.536500e+04  1.677451e+08
75%    1873.500000  25555.500000  2019.000000  6.347250e+04  1.677798e+08
max    2498.000000  84900.000000  2020.000000  1.017936e+06  1.678055e+08